<!DOCTYPE html>
<html lang="{{app.request.locale}}" translate="no">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>

			{% block title %}Eltand Store Manager
			{% endblock %}
		</title>
		{{ include("/partials/headerStyle.html.twig") }}
		{{ include("/partials/headerScript.html.twig") }}
		{{ include("/partials/routesScripts.html.twig") }}

		{% block metas %}{% endblock %}

	</head>

	<body>

		<div class="d-flex w-100 position-relative vh-100 ">
			{{ include("/components/menu.html.twig") }}
			<div class="w-100">
				<div class="mainContent d-flex">
					<nav class="navbar navbar-expand-md navbar-light bg-light w-100">
						<div class="container-fluid">
							<div class="d-flex justify-content-between d-md-none d-block">
								<button class="btn px-1 py-0 open-btn me-2">
									<i class="fa-solid fa-bars-staggered"></i>
								</button>
								<a class="navbar-brand fs-4" href="#">
									<span class="bg-dark rounded px-2 py-0 text-white">ETD</span>
								</a>

							</div>
							<button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<i class="fa-solid fa-bars"></i>
							</button>
							<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
								<ul class="navbar-nav mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link active" aria-current="page" href="#">{{app.user.username}}</a>
									</li>

								</ul>

							</div>
						</div>
					</nav>
				</div>
				<div class="p-4 w-100 contentSection"> {% block body %}{% endblock %}
					</div>
					<div class="position-absolute bottom-0 end-0 mx-2">
						<span>by
							<b>
								<a href="https://eltand.com">
									ELTAND</b>
							</a>
						</span>
					</div>
				</div>

			</div>

		</body>
		{{ include("/partials/footerScript.html.twig") }}
	</html>
