{% extends "base.html.twig" %}

{% block body %}
	{# <h1>Main</h1> #}
	<div class="d-flex flex-wrap w-100">
		<div class="card-ETD col-12">
			<div class="headerSection w-100 d-flex">
				<h3 class="font-weight-normal h3">
					<i class="fa-solid fa-store"></i>My Stores</h3>
				<div class="ml-auto">
					<a href="{{path('addStore')}}">
						<i class="fa-solid fa-plus h4 font-bold"></i>
					</a>
				</div>
			</div>
			<hr>
			<div class="storeSection w-100 my-2">
				{% if stores|length == 0 %}
					<span>No Store Here</span>
				{% else %}
					<table class="storeTabels">
						<thead>
							<tr>
								<th>Store Name</th>
								<th>Store Type</th>
								<th>Store Domain</th>
							</tr>
						</thead>
						<tbody>
							{% for store in stores %}
								<tr>
									<td>
										<a href="{{path('singleStore',{id:store.id})}}">
											{{store.name}}
										</a>
									</td>
									<td>{{store.type}}</td>
									<td>{{store.details.domain}}</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
